<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>NewsDevList</title>
  <meta name="keywords" content="news,tech,news development,coding,journalism">
  <meta name="description" content="NewsDevList is a community for journalistic software developers.">

  <link rel="alternate" type="application/rss+xml" href="/feed" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <link rel="alternate" type="application/rss+xml" href="/feed" />
</head>
<body>
  <h1>NewsDevList</h1>

  <% @posts.each do |post| %>
    <h2><a href="/posts/<%= post.slug %>"><%= post.title %></a></h2>
  <% end %>
</body>
</html>